<app-title-section [colorTitulo]="colordeltitulo" [tamanioTitulo]="sizeTitleSection" [titleSection]="tituloProyect" [backgroundcolor]="backgroundColorPROY"></app-title-section>
<div class="container-fluid contenedor" [style.--color-fondo]="backgroundColorPROY">
   <div class="row cont">
      <div class="col-md-10 prueba ">
         <h4>Titulo del proyecto.</h4>
         <div class="row exp-item" [style.--color-fondo-exp-item]="colorFondoPROItem">
            <div class="col-sm-12 col-md-2 con-exp-img">
               <img src="../../../assets/relleno.jpg" class="exp-img">
               <!-- class="img-thumbnail float-start img-exp" -->
            </div>
            <div class="col-sm-12 col-md-10 con-exp-text">
               <p class="exp-text">Lorem ipsum dolor sit amet consectetur ad
                  ipisicing elit. Excepturi cum earum explicabo veritatis maxime repellat, aliquid rem tenetur
                  quas, quaerat quam molestias asperiores sapiente facilis nobis modi dolore soluta neque.
                  Lorem ipsum dolor sit amet consectetur ad
                  ipisicing elit. Excepturi cum earum explicabo veritatis maxime repellat, aliquid rem tenetur
                  quas, quaerat quam molestias asperiores sapiente facilis nobis modi dolore soluta neque.
                  Lorem ipsum dolor sit amet consectetur ad
                  ipisicing elit. Excepturi cum olore soluta neque.</p>
            </div>
         </div>


      </div>
   </div>
</div>