#perfil-img {
    position: absolute;
    /* padding-bottom: 170px; */

    width: 170px;
    height: 170px;

    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    /* box-shadow: 3px 3px 3px 3px rgb(52, 52, 52); */
}

.uno {
    background-color: #547462;
    display: flex;

    align-items: center;
    justify-content: center;
    padding-bottom: 90px;
}

.dos {
    background-color: #547462;
    height: 90px;

}

.tres {
    background-color: #547462;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.cuatro {
    background-color: #547462;
    height: 200px;
    padding-bottom: 25px;
    
}

@media (max-width:767px) {
    #block-dos {
        display: none !important;

        height: 0px !important;
    }
    .tres{height: 100px !important;}
    .cuatro{height: auto;}
    
}

@media (max-width:992px) {
    .dos{display: none;}

    .uno{width: 100%;}
    .tres{height: 285px;}
    .cuatro{height: auto;}
}

@media (max-width:770px) {
    .tres{height: 305px;}
}
