<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3 uno">
            <div id="perfil-img" style="background-image: url(../../../assets/perfil.jpg);"></div>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9 dos" id="block-dos" ></div>
    </div>
    <div class="row tres-cuatro">
        <div class="col-sm-12 col-md-4 col-lg-3 col-xl-3 tres">
            <h3>{{Persona.nombre}} {{Persona.apellido}}</h3>
            <h4>Full Stack Developer Jr.</h4>
        </div>
        <div class="col-sm-12 col-md-8 col-lg-9 col-xl-9 cuatro">
            <h2>Programador web Full Stack.</h2>
            <p>
                Programador autodidacto web Full Stack junior enfocado al back-end con conocimientos en Java con Spring framework como principal tecnología, conocimientos 
                en lenguaje SQL utilizando MySQL, PosgrSQL o también MariaDB como principales bases de datos.
            </p>
            <h4>¿Pero y el front-end?</h4>
            <p>En front-end poseo conocimientos en HTML, CSS, Bootstrap, Javascript, Typescript y Angular como principal herramienta.</p>
        </div>
    </div>
</div>
